body {
  background-color: #faf9db;
}

.button-transparent {
  background-color: #faf9db;
  border: 0;
  font-weight: bold;
  padding: 0;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clear-order-div {
  padding-top: 10px;
  width: 100%;
}

.clear-order {
  display: block;
  margin-left: auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.green {
  background-color: green;
}

#heading-intro {
  color: #4d3a14;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

input[type='checkbox'] {
  background-color: green;
  color: blue;
  margin: 0;
  padding: 0;
}

.login-cs50-background {
  background-color: #faf9db;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.login-toppings-background {
  border: 6px double #437738;
  border-radius: 18px;
  margin-bottom: 20px;
  padding: 20px;
}

@media (min-width: 767px) {
  .login-toppings-background {
    margin-top: 20px;
  }
}

@media (min-width: 767px) {
  .menu-login {
    padding: 0 10%;
  }
}
