{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->

{% block title %} Palace Pizza & Subs {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/index.js' %}"></script> {% endblock %}
<!-- Body -->
{% block body %}
<!-- Heading -->
<div class="container nav-header">

  <!-- Heading - Welcome <username>, Logout -->
  <div class="row my-3">
    <div class="col-6">
      <strong>Welcome, <span id="user">{{ user.username }}</span>!</strong>
    </div>
    <div class="col-6 text-right">
      <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>

  <!-- Heading  -->
  <div class="row mb-4">
    <div class="col-6">
      <div id="modal-button" class="nav-order-links">
        <button class="nav-button">+</button>
      </div>
    </div>
    <div class="col-6 text-right">
        <button class="button-transparent nav-text">Checkout</button>
    </div>
  </div>
</div>

{% endblock %}
