{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Palace Pizza & Subs {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/login.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}
<header>
   <div id="csrf">{% csrf_token %}</div>
  <div class="collapse" id="navbarHeader">
    <div class="container-fluid text-center">
      <div class="row no-gutters">
<!-- Login -->
    <div id="nav-login" class="col-md-5 py-4">
      <h5>Login</h5>
      <form>
        <input id="username" name="username" type="text" placeholder="Username" required><br>
        <input id="password" name="password" type="password" placeholder="Password" required><br>
        <button id="submit-login">Login</button>
      </form>
      <div class="error-login"></div>
    </div>

    <!-- Register -->
    <div id="nav-register" class="col-md-5 ml-md-auto py-4">
      <h5>New Account</h5>
      <form>
        <input id="register-username" name="username" type="text" placeholder="Username" required><br>
        <input id="register-password" name="password" type="password" placeholder="Password" required><br>
        <input id="register-first-name" name="first_name" type="text" placeholder="First name" required><br>
        <input id="register-last-name" name="last_name" type="text" placeholder="Last name" required><br>
        <input id="register-email" name="email" type="text" placeholder="Email" required><br>
        <button id="submit-register">Register</button>
      </form>
      <div class="error-register"></div>
    </div>
    </div>
    </div>
    </div>
    <!-- Navbar -->
    <div class="navbar box-shadow">
      <div class="container d-flex justify-content-between">
        <strong>Call: 000-000-0000</strong>
        <button type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          Order Online
        </button>
      </div>
    </div>
  </header>

<div class="center my-3" >
<img src="{% static 'img/logo-01a-outline.svg' %}">  
</div>

  <!-- Storage for Toppings/Extras -->
<div id="storage" data-storage_toppings="{{ toppings }}" data-storage_extras="{{ extras }}"></div>
  <div class="container mt-6">
  <div class="row">

    <!-- CS50 Introduction -->
    <div class="col-md-5 login-cs50-background">
    <h1>  PALACE PIZZA </h1>
    <p> Recently under new ownership, Palace Pizza has taken a fresh approach to serving up the best pizza,  grinders, pasta, salads and more to Worcester and beyond.

With a commitment to quality ingredients, friendly customer service and attention to detail, you can rest assured knowing you will be taken care of while getting the delicious food you crave.

One thing we especially pride ourselves on is our customer service. We love to serve. We love our customers. We make it our duty to show them how much we care every time they call or stop in. You can get good food at other places but you won’t be given a customer experience like what you will get at Palace Pizza. Give us a try and you’ll see the Palace Pizza difference!
</p>

<h3>The Best Pizza Around!</h3>
<p>Located conveniently on the Worcester/Auburn line we are able to serve customers throughout Central Massachusetts.

Call us today to place an order: (508) 792-6222
</p>
    </div>

    <!-- Toppings -->
 <div class="col-md-5 ml-md-auto login-toppings-background">
   <strong>Toppings</strong>
   <div class="login-toppings"> Pepperoni, Sausage, Mushrooms, Onions, Ham, Canadian Bacon, Pineapple, Eggplant, Tomato & Basil, Green Peppers, Hamburger, Spinach, Artichoke, Buffalo Chicken, Barbecue Chicken, Anchovies, Black Olives, Fresh Garlic, Zucchini</div>
 </div>
</div>
<div class="row">
    <div class="col-md-6 menu-login">
      <table>

        <!-- Regular Pizza -->
        <tr>
          <td><strong>Regular Pizza</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Regular Pizza' %}
            <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td>{{ item.price_sm }}</td>
              <td>{{ item.price_lg }}</td>
            </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Sicialian Pizza -->
        <tr>
          <td><strong>Sicilian Pizza</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Sicilian Pizza' %}
          <tr id="{{ item.group }} + {{ item.item }}">
            <td>{{ item.item }}</td>
            <td>{{ item.price_sm }}</td>
            <td>{{ item.price_lg }}</td>
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Pasta -->
        <tr>
          <td><strong>Pasta</strong></td>
          <td></td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Pasta' %}
            <tr>
              <td>{{ item.item }}</td>
              <td>{{ item.price }}</td>
            </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

        <!-- Salads -->
        <tr>
          <td><strong>Salads</strong></td>
          <td></td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Salads' %}
          <tr>
            <td>{{ item.item }}</td>
            <td>{{ item.price }}</td>
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

      </table>
    </div>

    <div class="col-md-6 menu-login">
      <table>

        <!-- Subs -->
        <tr>
          <td><strong>Subs</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Subs' and item.item != 'Sausage, Peppers & Onions' and item.item != 'Steak + Cheese' %}
          <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td>{{ item.price_sm }}</td>
              <td>{{ item.price_lg }} </td>
            </tr>
          {% elif item.group == 'Subs' and item.item == 'Steak + Cheese' %}
          <tr id="{{ item.group }} + {{ item.item }}">
            <td>{{ item.item }} *</td>
            <td>{{ item.price_sm }}</td>
            <td>{{ item.price_lg }} </td>
          </tr>
          {% elif item.group == 'Subs' and item.item == 'Sausage, Peppers & Onions' %}
            <tr id="{{ item.group }} + {{ item.item }}">
              <td>{{ item.item }}</td>
              <td></td>
              <td>{{ item.price_lg }} </td>
            </tr>
          {% endif %}
        {% endfor %}
        <tr>
          <td colspan=3>* add Mushrooms, Green Peppers, or Onions for +0.50</td>
        </tr>
        <tr>
          <td colspan=3>** add Extra Cheese to any sub for +0.50</td>
        </tr>

        <tr><td colspan=3><hr></td></tr>

        <!-- Dinner Platters -->
        <tr>
          <td><strong>Dinner Platters</strong></td>
          <td>Small</td>
          <td>Large</td>
        </tr>
        {% for item in menu %}
          {% if item.group == 'Dinner Platters' %}
          <tr>
            <td>{{ item.item }}</td>
            <td>{{ item.price_sm }}</td>
            <td>{{ item.price_lg }}</td>
          </tr>
          {% endif %}
        {% endfor %}

        <tr><td colspan=3><hr></td></tr>

      </table>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>




{% endblock %}
