{% extends "orders/base.html" %}
{% load static %}

<!-- Title -->
{% block title %} Palace Pizza & Subs {% endblock %}

<!-- JavaScript -->
{% block js %} <script src="{% static 'js/login.js' %}"></script> {% endblock %}

<!-- Body -->
{% block body %}
<!-- Login -->
    <div id="nav-login" class="col-md-5 py-4">
      <h5>Login</h5>
      <form>
        <input id="username" name="username" type="text" placeholder="Username" required/><br>
        <input id="password" name="password" type="password" placeholder="Password" required/><br>
        <button id="submit-login">Login</button>
      </form>
      <div class="error-login"></div>
    </div>

    <!-- Register -->
    <div id="nav-register" class="col-md-5 ml-md-auto py-4">
      <h5>New Account</h5>
      <form>
        <input id="register-username" name="username" type="text" placeholder="Username" required/><br>
        <input id="register-password" name="password" type="password" placeholder="Password" required/><br>
        <input id="register-first-name" name="first_name" type="text" placeholder="First name" required/><br>
        <input id="register-last-name" name="last_name" type="text" placeholder="Last name" required/><br>
        <input id="register-email" name="email" type="text" placeholder="Email" required/><br>
        <button id="submit-register">Register</button>
      </form>
      <div class="error-register"></div>
    </div>

  <div class="container mt-6">
  <div class="row">

    <!-- CS50 Introduction -->
    <div class="col-md-5 login-cs50-background">
    <h1>  PALACE PIZZA </h1>
    <p> Recently under new ownership, Palace Pizza has taken a fresh approach to serving up the best pizza,  grinders, pasta, salads and more to Worcester and beyond.

With a commitment to quality ingredients, friendly customer service and attention to detail, you can rest assured knowing you will be taken care of while getting the delicious food you crave.

One thing we especially pride ourselves on is our customer service. We love to serve. We love our customers. We make it our duty to show them how much we care every time they call or stop in. You can get good food at other places but you won’t be given a customer experience like what you will get at Palace Pizza. Give us a try and you’ll see the Palace Pizza difference!
</p>

<h3>The Best Pizza Around!</h3>
<p>Located conveniently on the Worcester/Auburn line we are able to serve customers throughout Central Massachusetts.

Call us today to place an order: (508) 792-6222
</p>
    </div>

    <!-- Toppings -->
 <div class="col-md-5 ml-md-auto login-toppings-background">
   <strong>Toppings</strong>
   <div class="login-toppings"> Pepperoni, Sausage, Mushrooms, Onions, Ham, Canadian Bacon, Pineapple, Eggplant, Tomato & Basil, Green Peppers, Hamburger, Spinach, Artichoke, Buffalo Chicken, Barbecue Chicken, Anchovies, Black Olives, Fresh Garlic, Zucchini</div>
 </div>
</div>

  </div>



{% endblock %}
